<%-include('./partials/head.ejs') %> 
<body>
    <%-include('./partials/header.ejs')%>
    
    <form action="/movies/edit/<%=pelicula.id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Titulo: </label>
            <input type="text" name="title" value="<%=pelicula.title%>">
        </div>
        <div>
            <label for="rating">Rating: </label>
            <input type="text" name="rating" value="<%=pelicula.rating%>">
        </div>
        <div>
            <label for="length">Duracion: </label>
            <input type="text" name="length" value="<%=pelicula.length%>">
        </div>
        <div>
            <label for="release_date">Fecha de Lanzamiento: </label>
            <input type="date" name="release_date" value="<%=pelicula.release_date%>">
        </div>
        <div>
            <label for="awards">Premios: </label>
            <input type="text" name="awards" value="<%=pelicula.awards%>">
        </div>
        <button type="submit" class="btn btn-success" name="aceptar">Aceptar</button>
        <a href="/movies/detail/<%=pelicula.id%>"><button type="button" class="btn btn-success" name="cancelar">Cancelar</button></a>
    </form>
</body>
<%-include('./partials/footer.ejs') %> 
</html>