<%-include('./partials/head.ejs') %> 
<body>
    <!--HEADER MODULARIZADO-->
<%-include('./partials/header.ejs')%>
    <h1>Lista de peliculas actuales</h1>
    <ul>
        <% for (let i = 0; i < peliculas.length; i++){ %> 
            <li>
                <a href="/movies/detail/<%= peliculas[i].id %>"><%= peliculas[i].title %></a>
                 
            </li>
        <% } %>
    </ul>
    <form action="/movies/add" method="GET">
        <button type="submit" class="btn btn-success">Cargar Pelicula</button>
    </form>
    
</body>
<%-include('./partials/footer.ejs') %> 
</html>